@page "/modificarusuario{currentUserId:int}/{Id:int?}"
@rendermode InteractiveServer
@inject NavigationManager Navegador;
@inject CasoDeUsoUsuarioModificacion modificarUsuario
@inject CasoDeUsoUsuarioConsultaPorId getExpById

<DialogoConfirmacion @ref="dialogo" OnConfirmado="Eliminar" />
<h3>Modificando al Usuario @_usuario.Id- @_usuario.Nombre @_usuario.Apellido </h3>
<br />
<label for="nombre">Nombre:</label>
<input id="nombre" placeholder="Nombre" @bind="_usuario.Nombre" class="form-control">
<br />
<label for="apellido">Apellido:</label>
<input id="apellido" placeholder="Apellido" @bind="_usuario.Apellido" class="form-control">
<br />
<label for="email">Email:</label>
<input id="email" placeholder="Email" @bind="_usuario.Email" class="form-control">
<br />
<label for="pass">Password:</label>
<input id="pass" placeholder="Password" @bind="_usuario.Password" class="form-control">
<br />
<button class="btn btn-primary" @onclick="Aceptar">Finalizar edición de perfil</button>
<br />
<br />

<br />
<h4>Permisos del usuario</h4>
@if (_usuario.Permisos != null && _usuario.Permisos.Count > 0)
{
  <table class="table">
  <thead>
    <tr>
      <th>Permiso</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var permiso in _usuario.Permisos)
      {
        <tr>
          <td>@permiso</td>
          <td>
            <button class="btn btn-danger" @onclick="()=>ConfirmarEliminacion(permiso)">Eliminar</button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <p>Parece que el usuario no posee permisos.</p>
}
<br />

<h5> Asignar nuevo permiso al usuario</h5>
<br />
<select id="tag" @bind="_nuevoPermiso" class="form-control">
<option value="">Seleccione una opción</option>
  <option value="ExpedienteAlta">@Permiso.ExpedienteAlta</option>
  <option value="ExpedienteBaja">@Permiso.ExpedienteBaja</option>
  <option value="ExpedienteModificacion">@Permiso.ExpedienteModificacion</option>
  <option value="TramiteAlta">@Permiso.TramiteAlta</option>
  <option value="TramiteBaja">@Permiso.TramiteBaja</option>
  <option value="TramiteModificacion">@Permiso.TramiteModificacion</option>
  <option value="UsuarioAlta">@Permiso.UsuarioAlta</option>
  <option value="UsuarioBaja">@Permiso.UsuarioBaja</option>
  <option value="UsuarioModificacion">@Permiso.UsuarioModificacion</option>
  <option value="UsuariosListar">@Permiso.UsuariosListar</option>
</select>
<br />
<button class="btn btn-primary" @onclick="AgregarPermiso">Agregar permiso</button>


@if (ShowError)
{
  <br />
  <h4>@MensajeError</h4>
}

@code {
  [Parameter] public int Id { get; set; }
  [Parameter] public int currentUserId { get; set; } = 1;
  Usuario _usuario = new Usuario();
  private bool ShowError = false;
  private string MensajeError { get; set; } = "Ah ocurrido un error";
  DialogoConfirmacion dialogo = null!;
  Permiso _permisoParaEliminar;
  Permiso _nuevoPermiso;

  protected override void OnParametersSet()
  {
    try
    {
      var usuario_hallado = getExpById.Ejecutar(Id);
      if (usuario_hallado != null)
      {
        _usuario = usuario_hallado;
      }
      ShowError = false;
    }
    catch (Exception e)
    {
      MensajeError = e.Message;
      ShowError = true;
    }

  }
  void Aceptar()
  {
    try
    {
      modificarUsuario.Ejecutar(_usuario, currentUserId);
      Navegador.NavigateTo("listadousuarios");
    }
    catch (Exception e)
    {
      MensajeError = e.Message;
      ShowError = true;
    }
  }
  private void ConfirmarEliminacion(Permiso permiso)
  {
    dialogo.Mensaje = $"¿Desea quitar el permiso del usuario?";
    dialogo.Mostrar();
    _permisoParaEliminar = permiso;

  }
  private void Eliminar()
  {

    try
    {
      _usuario.Permisos.Remove(_permisoParaEliminar);
      modificarUsuario.Ejecutar(_usuario, currentUserId);
    }
    catch (Exception e)
    {
      MensajeError = e.Message;
      ShowError = true;
    }
  }
  private void AgregarPermiso()
  {
    try
    {
      _usuario.Permisos.Add(_nuevoPermiso);
      modificarUsuario.Ejecutar(_usuario, currentUserId);
    }
    catch (Exception e)
    {
      MensajeError = e.Message;
      ShowError = true;
    }
  }
}
