@page "/listadoexpedientes"
@rendermode InteractiveServer
@inject CasoDeUsoExpedienteConsultaTodos ConsultarTodos

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Carátula</th>
      <th>Fecha de Creación</th>
      <th>Fecha de Modificación</th>
      <th>Id usuario</th>
      <th>Estado</th>
      <th>Tramites Asociados</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var cli in _lista)
    {
      <tr>
        <td>@cli.Id</td>
        <td>@cli.Caratula</td>
        <td>@cli.FechaCreacion</td>
        <td>@cli.FechaUltimaModif</td>
        <td>@cli.UserId</td>
        <td>@cli.Estado</td>
        <td>@cli.TramitesAsociados</td>
      </tr>
    }
  </tbody>
</table>

@code {
  List<Expediente> _lista = new List<Expediente>();
  protected override void OnInitialized()
  {
    _lista = ConsultarTodos.Ejecutar();
  }
}
